#article_wrapper{
    width:100%;
    margin-bottom:15px;
    padding-top:15px;
    border-bottom:black 1px dashed;
    text-align:justify;
    background-color:#efeff1;
    padding-right:10px;
}

#article_wrapper h2 {
    font-size:2em;    
}

#article_image {
    float:left;
    height:150px;
    width:320px; 
    margin-right:20px;
    margin-bottom:10px;
    background:url('../Images/Kelly-Slater-Wins-2014-Volcom-Pipe-Pro.jpeg') no-repeat;
    background-size:100% 100%;
}

#article_video {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height:350px;
}

#article_reseauxsociaux {
    margin-top:30px;
    margin-bottom:10px;
}

#article_reseauxsociaux ul{
    text-decoration:none;
}

#article_fb, #article_tw, #article_gm {
    height:45px;
    width:45px;
    text-decoration:none;
    display:inline-block;
    margin-left:10px;
    background-size:100%;
    background-repeat:no-repeat;
}

#article_fb{
    background-image:url('../Images/fb_img.png');
}
#article_tw{
    background-image:url('../Images/tweeter_img.png');
}

#article_gm {
    background-image:url('../Images/gmail_img.png');
}
#article_let_commentaire{
    height:150px;
    padding:10px;
    background-color:#f6ecc3;
}

#article_pub {
    width:468px;
    height:60px;
    margin: 10px auto 10px auto;
    background:url('../Images/article_surf_pub.gif') no-repeat;
    background-size:100% 100%;

}

#article_commentaire {
    background-color:#c9e6fa;
}

.article_input {
    border-radius:2px;
    margin-top:5px;
}