#skate_left_bandecolor {
    width:10px;
    height:230px;
    background-color:darkorange;
    float:left;
}

#skate_titre {
    background-color:darkorange;
} 

#skate_left {
    display:inline-block;
    height: auto;
    margin-right:20px;
    vertical-align:top;
    width:640px;
}

#skate_right {
    width: 300px;
    display:inline-block;
    vertical-align:top;
    margin-top:5px;
    margin-bottom:10px;
}

#skate_right h3{
    text-align:center;
    background-color:gainsboro;
    margin-top:0px;
    margin-bottom:5px;
    font-size: 1.2em;
}


#skate_resultat {
    width:100%;
    margin-bottom:20px;
    height:160px;
}