/* 
    Document   : StyleFlexslider
    Created on : 18 mars 2014, 02:13:31
    Author     : Thomas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.flexslider{
    position:relative;

}

.flex-direction-nav {
    position:absolute;
    top:50%;
    z-index:501;
}

.flex-prev, .flex-next{
    text-decoration: none;
    color:black;
    display:inline-block;
    width:20px;
    opacity:0.2;
}

.flex-prev:hover, .flex-next:hover{
    opacity:1;
}

.flex-prev{
    background: url('../Images/fleche_left.png') no-repeat;
    background-size:100% 100%;
    margin-left:10px;
}

.flex-next{
    margin-left:240px;
    background: url('../Images/fleche_right.png') no-repeat;
    background-size:100% 100%;
}

.flex-direction-nav ul{
    width:100%;
}

.flex-direction-nav li{
    display:inline-block;
}

.flexslider img {
    width:300px;
    height:200px;
}
