/* 
    Document   : StyleFlexslider
    Created on : 18 mars 2014, 02:13:31
    Author     : Thomas
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.flexslider{
    position:relative;

}

.flex-direction-nav {
    position:absolute;
    top:0%;
    z-index:501;
    width:100%;
    height:100%;
}

.flex-prev, .flex-next{
    text-decoration: none;
    color:black;
    display:inline-block;
    width:20px;
    opacity:0.2;
    height:100%;
}

.flex-prev:hover, .flex-next:hover{
    opacity:1;
}

.flex-prev{
    background: url('../Images/fleche_left.png') no-repeat;
    background-size:50% 23%;
    background-position-y: 50%;
}

.flex-next{
    margin-left:250px;
    background: url('../Images/fleche_right.png') no-repeat;
    background-size:50% 23%;
    background-position: 100% 50%;
}

.flex-direction-nav ul{
    width:100%;
    height:100%;
}

.flex-direction-nav li{
    display:inline-block;
    vertical-align:top;
    height:100%;
}

.flexslider img {
    width:300px;
    height:200px;
}
